USE [master]
GO
/****** Object:  Database [karpov_DB_test]    Script Date: 01.02.2024 10:14:39 ******/
CREATE DATABASE [karpov_DB_test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'karpov_DB_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\karpov_DB_test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'karpov_DB_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\karpov_DB_test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [karpov_DB_test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [karpov_DB_test]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 01.02.2024 10:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[CountryName] [nvarchar](50) NOT NULL,
	[Continent] [nvarchar](50) NOT NULL,
	[Currency] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENT]    Script Date: 01.02.2024 10:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENT](
	[DeptName] [nvarchar](50) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENT] PRIMARY KEY CLUSTERED 
(
	[DeptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 01.02.2024 10:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmpName] [nvarchar](50) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EmpName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLDER]    Script Date: 01.02.2024 10:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLDER](
	[FolderName] [nvarchar](50) NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[AccessType] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COUNTRY] ([CountryName], [Continent], [Currency]) VALUES (N'Россия', N'авразия', N'руб')
INSERT [dbo].[COUNTRY] ([CountryName], [Continent], [Currency]) VALUES (N'сша', N'евразия', N'долар')
GO
INSERT [dbo].[DEPARTAMENT] ([DeptName], [CountryName]) VALUES (N'16', N'сша')
GO
INSERT [dbo].[EMPLOYEE] ([EmpName], [DeptName]) VALUES (N'Никита', N'16')
GO
INSERT [dbo].[FOLDER] ([FolderName], [EmpName], [AccessType]) VALUES (N'лаб2', N'никита', N'зак')
GO
ALTER TABLE [dbo].[DEPARTAMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENT_COUNTRY] FOREIGN KEY([CountryName])
REFERENCES [dbo].[COUNTRY] ([CountryName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEPARTAMENT] CHECK CONSTRAINT [FK_DEPARTAMENT_COUNTRY]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_DEPARTAMENT] FOREIGN KEY([DeptName])
REFERENCES [dbo].[DEPARTAMENT] ([DeptName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_DEPARTAMENT]
GO
ALTER TABLE [dbo].[FOLDER]  WITH CHECK ADD  CONSTRAINT [FK_FOLDER_EMPLOYEE] FOREIGN KEY([EmpName])
REFERENCES [dbo].[EMPLOYEE] ([EmpName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FOLDER] CHECK CONSTRAINT [FK_FOLDER_EMPLOYEE]
GO
USE [master]
GO
